---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = [
  { title: 'FTC Tracker', 
    description: 'A React Native app for FTC teams.', 
    link: 'https://ftc-tracker.gitbook.io/ftc-tracker', 
    image1: "/Portfolio/projectimages/project1images/logoNew.png",
    image2: "/Portfolio/projectimages/project1images/phoneDisplay.png",
    image3: "/Portfolio/projectimages/project1images/scoutingSheet.png"
  },
  { title: 'GPA Calculator', 
    description: 'A GUI for automatic GPA calculation.', 
    link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' 
  },
];
---

<Layout title = "Home Page">
  <div class="intro-text">
    <p>Hello! I'm Jacob, a passionate developer interested in robotics, AI, and computer science...</p>
  </div>
  <hr />
  <h1>PROJECTS</h1>
  
    <div class="container">

      <div class="col-left">
        <div class="row row1">
          <ProjectCard link={projects[0].link} image={projects[0].image1} imageClass='project-1-image-1'/>
        </div>

        <div class="row row2">
          <div class="row-col left"><ProjectCard link={projects[0].link} image={projects[0].image2} imageClass='project-1-image-2'/></div>
          <div class="row-col right"><ProjectCard link={projects[0].link} image={projects[0].image3} imageClass='project-1-image-3'/></div>
        </div>

        <div class="row row3">
          <ProjectCard link={projects[1].link} title={projects[1].title} descriptionClass='project-2-title'/>
        </div>

        <div class="row row4">
          <ProjectCard link={projects[1].link} description={projects[1].description} descriptionClass='project-2-description'/>
        </div>
      </div>


      <div class="col-right">
        <div class="row row1">
          <ProjectCard link={projects[0].link} description={projects[0].description} descriptionClass='project-1-description'/>
        </div>

        <div class="row row2">
          <div class="project-1-title">
          </div>
          <ProjectCard link={projects[0].link} description={projects[0].title} descriptionClass='project-1-title'/>
        </div>

        <div class="row row3">
          <div class="row-col left"><ProjectCard link={projects[1].link}/></div>

          <div class="row-col right">
            <div class="row-col"><ProjectCard link={projects[1].link}/></div>
            <div class="row-col"><ProjectCard link={projects[1].link}/></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</Layout>

<style>
  /* CONTAINER STYLES */
  .container{
    display: flex;
    
    gap: .5rem;
    width: 1000px;
    height: 1500px;
  }
  .row{
    border-radius: 12px;
  }
  .row-col{ 
    flex: 1;
    border-radius: 12px;
  }

 /* LEFT COLUMN STYLES */
  .col-left{
    flex: 1;
    gap: .5rem;
    display: flex;
    flex-direction: column;
  }
  .col-left .row1{
    height: 20rem;
  }
  .col-left .row2{
    display:flex;
    height: 12rem;
    gap: 0.5rem;
    border-width: 0px;
  }
  .col-left .row3{
    height: 18rem;
  }
  .col-left .row4{
    height: 21.5rem;
  }
 

 /* RIGHT COLUMN STYLES */
  .col-right{
    flex: 1;
    gap: .5rem;
    display: flex;
    flex-direction: column;
  }
  .col-right .row1{
    height: 23rem;
  }
  .col-right .row2{
    height: 14rem;
    border-radius: 12px;
  }
  .col-right .row3{
    display:flex;
    height: 35rem;
    gap: 0.5rem;
    border-width: 0px;
  }
  .col-right .row3 .right{
    flex: 1;
    border-width: 0px;
    gap: .5rem;
    display: flex;
    flex-direction: column;
  } 

 /* PAGE STYLES */
  body {
    font-family: 'Arial', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  hr {
      border: none;
      border-top: 1px solid #ccc;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
  h1{
      user-select: none; /* Disables text selection */
      color:#838383;
      font-size: 0.9rem;
      margin-bottom: 2rem;
  }
  .main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .intro-text p {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.5rem 0;
    color: #333;
  }
</style>
