---
// Props: title, description, and optional link
export interface Props {
  link: string;
  description?: string;
  title?: string;
  descriptionClass?: string;
  image?: string;
  imageClass?: string;
}
const { link, description, title, descriptionClass, image, imageClass} = Astro.props;
---
<a href={link} target="_self" rel="noopener noreferrer"> 
  <div class="project-card">
    {image && 
      <div class="image-container">
        <img src={image} alt={`${title} thumbnail`} class={`${imageClass} project-image`} />
      </div>
    }
    <p class={descriptionClass}>{title ? title : description}</p>
  </div>
</a>

<style>
  .project-card {
    border-radius: 12px;
    height: 100%;
    background-color: white; 
    padding: 1rem;
    border: 1px solid #e8e7e7;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.5s ease;
    user-select: none; /* Disables text selection */
  }
  .project-card:hover {
    background-color: #242424;
    transform: scale(1.025);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
  }
  .project-card a {
    display: block; /* Makes the link cover the entire card */
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits text color */
  }
  .image-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-image{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    border-radius: 8px;
  }
  .project-card:hover .project-image {
    filter: grayscale(0%);
  } 
  

  /*================= PROJECT 1 STYLES =====================*/
  .project-1-description{
    display: flex;
    align-items: center;
    text-align: end;
    height: 85%;
    padding: 1rem;
    padding-left: 5rem;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #333;
    transition: color 0.5s ease; 
  }
  .project-1-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    height: 100%;
    padding: 1rem;
    padding-bottom: 4rem;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
    transition: color 0.5s ease; 
  }
  .project-card:hover .project-1-description, .project-card:hover .project-1-title{
    background: linear-gradient(90deg, #006aff, #66acf6);
    -webkit-background-clip: text; 
    color: transparent; 
  }
  .project-1-image-1{
    max-width: 50%; 
    height: auto; 
  }
  .project-1-image-2{
    max-width: 155%; 
    margin-left: 2rem;
  }
  .project-1-image-3{
    max-width: 112.5%; 
  }

  /*================= PROJECT 2 STYLES =====================*/
  .project-2-description{
    display: flex;
    align-items: center;
    height: 75%;
    padding: 1rem;
    padding-bottom: 3rem;
    padding-right: 6rem;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #333;
    transition: color 0.5s ease; 
  }
  .project-2-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
    transition: color 0.5s ease; 
  }
  .project-card:hover .project-2-description, .project-card:hover .project-2-title{
    background: linear-gradient(90deg, #f4d522, #fff6cc);
    -webkit-background-clip: text; 
    color: transparent; 
  }

/*================ TEXT STYLES =================*/
  h3{
      user-select: none; /* Disables text selection */
      color:#000000;
      font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
    font-weight: bold;
    color: #000000;
  }
</style>
